@font-face {
    font-family: 'Pretendard';
    src: url('./Pretendard-Medium.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./Pretendard-Regular.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./Pretendard-SemiBold.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}